html {
    font-family: sans-serif;
    color: #000000;
}

header {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header a {
    border-radius: 5px;
    background: #b7cf8b;
    padding: 5px;
}

header a:hover {
    background: #7ecf48;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

input[type="submit"] {
    cursor: pointer;
    background: #096508;
    color: #ffffff;
    font-weight: bold;
}

input[type="number"] {
    margin-right: -2px;
}

.container {
    margin: 0 auto;
    width: 600px;
    background: #d7e5ee;
    border-radius: 5px;
    padding: 10px;
}

.container-Login-Index {
    width: 300px;
}

.w33p {
    width: 33%;
}

.w100p {
    width: 100%;
}

.form-errors {
    background-color: #ffffff;
    border: 1px solid #ff0000;
    padding: 5px;
}

.important {
    color: #ff0000;
}